<div class="containero">
    <div class="estudiante">
        <h2>Nombre: Nombre del estudiante</h2>
        <p>Documento: Documento del estudiante</p>
        <p>Grado: Grado del estudiante</p>
        <p>Sede: Sede del estudiante</p>
    </div>
    <div class="">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid modi ea, voluptatibus id recusandae expedita molestiae repellendus odio debitis facere excepturi hic natus consectetur cum est inventore, facilis beatae architecto.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quaerat veritatis ratione iusto sit, laborum laboriosam id officiis obcaecati beatae aspernatur molestiae doloremque commodi harum odit repellendus similique aliquam dicta.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste impedit porro, debitis beatae doloremque necessitatibus labore sint placeat praesentium esse sapiente numquam odit iure nulla, neque exercitationem aspernatur autem voluptatum.
        </div>
        <div class="estadisticas">
            <div class="row musical">
                <div class="progress">
                    <span class="progress__text">Musical</span>
                </div>
                <mat-progress-bar class="progressBar" [color]="colorProgressBar" mode="buffer" [value]=musical [bufferValue]="musical+10"></mat-progress-bar>
                <div class="items">
                    <span>Sensibilidad:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Percepcion:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Imitacion:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Espontaneidad:</span><span class="valor">{{ensayoValor}}</span>
                </div>
            </div>
            <div class="row corporal_cinestesica">
                <div class="progress">
                    <span class="progress__text">Corporal</span>
                </div>
                <mat-progress-bar class="progressBar" [color]="colorProgressBar" mode="buffer" [value]=musical [bufferValue]="musical+10"></mat-progress-bar>
                <div class="items">
                    <span>Coordinacion:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Velocidad:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Adaptabilidad:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Ritmo:</span><span class="valor">{{ensayoValor}}</span>
                </div>
            </div>
            <div class="row interpersonal">
                <div class="progress">
                    <span class="progress__text">Interpersonal</span>
                </div>
                <mat-progress-bar class="progressBar" [color]="colorProgressBar" mode="buffer" [value]=musical [bufferValue]="musical+10"></mat-progress-bar>
                <div class="items">
                    <span>Iniciativa:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Equipo:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Social:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Liderazgo:</span><span class="valor">{{ensayoValor}}</span>
                </div>
            </div>
            <div class="row linguistica">
                <div class="progress">
                    <span class="progress__text">Linguistica</span>
                </div>
                <mat-progress-bar class="progressBar" [color]="colorProgressBar" mode="buffer" [value]=musical [bufferValue]="musical+10"></mat-progress-bar>
                <div class="items">
                    <span>Hablar:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Escuchar:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Leer:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Escribir:</span><span class="valor">{{ensayoValor}}</span>
                </div>
            </div>
            <div class="row logico_matematica">
                <div class="progress">
                    <span class="progress__text">Logica</span>
                </div>
                <mat-progress-bar class="progressBar" [color]="colorProgressBar" mode="buffer" [value]=musical [bufferValue]="musical+10"></mat-progress-bar>
                <div class="items">
                    <span>P. logico:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Razonamiento:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Id. de Patrones:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Hipotesis:</span><span class="valor">{{ensayoValor}}</span>
                </div>
            </div>
            <div class="row naturalista">
                <div class="progress">
                    <span class="progress__text">Naturalista</span>
                </div>
                <mat-progress-bar class="progressBar" [color]="colorProgressBar" mode="buffer" [value]=musical [bufferValue]="musical+10"></mat-progress-bar>
                <div class="items">
                    <span>Observacion:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Ingenio:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Auto-cuidado:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Tacto:</span><span class="valor">{{ensayoValor}}</span>
                </div>
            </div>
            <div class="row intrapersonal">
                <div class="progress">
                    <span class="progress__text">Intrapersonal</span>
                </div>
                <mat-progress-bar class="progressBar" [color]="colorProgressBar" mode="buffer" [value]=musical [bufferValue]="musical+10"></mat-progress-bar>
                <div class="items">
                    <span>Empatia:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Autoconocimiento:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Emocional:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Autorregulacion:</span><span class="valor">{{ensayoValor}}</span>
                </div>
            </div>
            <div class="row visual_espacial">
                <div class="progress">
                    <span class="progress__text">Espacial</span>
                </div>
                <mat-progress-bar class="progressBar" [color]="colorProgressBar" mode="buffer" [value]=musical [bufferValue]="musical+10"></mat-progress-bar>
                <div class="items">
                    <span>Percepcion:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Estética:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Perfeccionista:</span><span class="valor">{{ensayoValor}}</span>
                    <span>Imaginacion:</span><span class="valor">{{ensayoValor}}</span>
                </div>
            </div>
        </div>
    </div>
</div>